* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body, #root {
    width: 100vw;
    height: 100vh;
}

:root {
    --light-coral: #f77b7b;
    --coral: #f76c6c;
    --dark-coral: #f16565;

    --yellow: #f8e9a1;
    --white: #f6f6f6;
    --gray: #6d6d6d;
}
